# Traballando con ficheiro purchases.txt

## Load data

Load the data in `???/purchases.txt` into an RDD:

In [1]:
rdd = sc.textFile('PURCHASES/purchases.txt')

In [2]:
rdd.first()

u"2012-01-01\t09:00\tSan Jose\tMen's Clothing\t214.05\tAmex"

In [4]:
rdd.take(10)

[u"2012-01-01\t09:00\tSan Jose\tMen's Clothing\t214.05\tAmex",
 u"2012-01-01\t09:00\tFort Worth\tWomen's Clothing\t153.57\tVisa",
 u'2012-01-01\t09:00\tSan Diego\tMusic\t66.08\tCash',
 u'2012-01-01\t09:00\tPittsburgh\tPet Supplies\t493.51\tDiscover',
 u"2012-01-01\t09:00\tOmaha\tChildren's Clothing\t235.63\tMasterCard",
 u"2012-01-01\t09:00\tStockton\tMen's Clothing\t247.18\tMasterCard",
 u'2012-01-01\t09:00\tAustin\tCameras\t379.6\tVisa',
 u'2012-01-01\t09:00\tNew York\tConsumer Electronics\t296.8\tCash',
 u'2012-01-01\t09:00\tCorpus Christi\tToys\t25.38\tDiscover',
 u'2012-01-01\t09:00\tFort Worth\tToys\t213.88\tVisa']

## Filter 'San Jose' data

Filter data from the RDD keeping only "San Jose" lines.

In [5]:
sanjose_lines = rdd.filter(lambda x: 'San Jose' in x)

In [6]:
sanjose_lines.take(5)

[u"2012-01-01\t09:00\tSan Jose\tMen's Clothing\t214.05\tAmex",
 u"2012-01-01\t09:00\tSan Jose\tWomen's Clothing\t215.82\tCash",
 u'2012-01-01\t09:09\tSan Jose\tToys\t337.71\tCash',
 u'2012-01-01\t09:17\tSan Jose\tGarden\t192.82\tCash',
 u'2012-01-01\t09:19\tSan Jose\tCameras\t95.81\tCash']

## Count the number of purchases in San Jose

In [7]:
sanjose_lines.count()

39898

## Find the maximum cost

Extract the column with the cost strings:

In [8]:
cost_strings = sanjose_lines.map(lambda line: line.split('\t')[4])

In [9]:
cost_strings.take(5)

[u'214.05', u'215.82', u'337.71', u'192.82', u'95.81']

And now we can convert them to floats:

In [10]:
costs = cost_strings.map(lambda t: float(t))

In [11]:
costs.take(5)

[214.05, 215.82, 337.71, 192.82, 95.81]

Finally we can calculate the maximum temperature:

In [12]:
costs.reduce(lambda a, b: max(a,b))

499.99

Or directly with **max** function

In [13]:
costs.max()

499.99

## Find the minimum cost

In [14]:
costs.reduce(lambda a,b: min(a,b))

0.0

In [ ]:
temperatures.filter(lambda x: x != -9999 ).reduce(lambda a, b: min(a,b))